

/***************************************************

main.css

This file is loaded at startup to set default
styling for Roomba command controllers nested in
RootController.

****************************************************/

* {
  roomba-green: #4eb769;
  roomba-yellow: #fffd8c;
}

/***************************************************

ComboBox CSS below

****************************************************/

.jfx-combo-box
{
    -jfx-focus-color: roomba-green;
    -jfx-unfocus-color: roomba-yellow;
}

.combo-box .list-cell
{
    -fx-text-fill: roomba-yellow;
}

.combo-box .arrow
{
    -fx-background-color: roomba-green;
}

.combo-box-popup .list-view
{
    -fx-background-color: black; /* was transparent */
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: transparent;
    -fx-text-fill: roomba-yellow;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: roomba-green;
    -fx-text-fill: roomba-yellow;
}

.combo-box-popup .list-view .scroll-bar
{
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .scroll-bar .track-background
{
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .scroll-bar .thumb
{
    -fx-color: roomba-green;
    -fx-background-radius: 10;
}

.combo-box-popup .list-view .scroll-bar .increment-button, .combo-box-popup .list-view .scroll-bar .decrement-button
{
    visibility: hidden;
}

/***************************************************

TextField CSS below

****************************************************/

.jfx-text-field
{
    -jfx-focus-color: roomba-green;
}

.text-field
{
    -fx-prompt-text-fill: roomba-yellow;
    -fx-text-fill: roomba-yellow;
    -fx-highlight-fill: roomba-green;
}

.text-field .input-line
{
    -fx-background-color: roomba-yellow;
}

/***************************************************

Button CSS below

****************************************************/

.button
{
    -fx-background-color: roomba-green;
    -fx-text-fill: white;
}

/***************************************************

CheckBox CSS below

****************************************************/

.jfx-check-box
{
    -jfx-unchecked-color: roomba-yellow;
    -fx-text-fill: roomba-yellow;
}