

/***************************************************

main.css

This file is loaded at startup to set default
styling for Roomba command controllers nested in
RootController.

****************************************************/

* {
  bg-color: #32353a;
  module-color: #47494c;
  roomba-green: #4eb769;
  roomba-yellow: #fffd8c;
}

.root.popup {
    -fx-background-color: transparent;
}

/***************************************************

ComboBox CSS below

****************************************************/

/* Closed ComboBox Styles */

.jfx-combo-box {
    -jfx-focus-color: roomba-green;
    -jfx-unfocus-color: roomba-yellow;
}

.jfx-combo-box .jfx-rippler {
  -jfx-rippler-fill: roomba-green;
}

.combo-box .list-cell {
    -fx-text-fill: roomba-yellow;
}

.combo-box .arrow {
    -fx-background-color: roomba-green;
}

/* Opened ComboBox Styles */

.combo-box-popup .list-view {
    -fx-background-color: bg-color;
    -fx-border-radius: 4;
    -fx-border-width: .25;
    -fx-effect: dropshadow(gaussian, black, 10, 0.0 , 0, 0);
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:even {
    -fx-background-color: bg-color;
    -fx-text-fill: roomba-yellow;
}

.combo-box-popup .list-view .list-cell:odd {
    -fx-background-color: module-color;
    -fx-text-fill: roomba-yellow;
}

.combo-box-popup .list-view .list-cell:even:filled:hover {
    -fx-background-color: roomba-yellow;
    -fx-text-fill: bg-color;
}

.combo-box-popup .list-view .list-cell:odd:filled:hover {
    -fx-background-color: roomba-yellow;
    -fx-text-fill: module-color;
}

.combo-box-popup .list-view .list-cell:even:filled:selected {
    -fx-background-color: roomba-green;
    -fx-text-fill: bg-color;
}

.combo-box-popup .list-view .list-cell:odd:filled:selected {
    -fx-background-color: roomba-green;
    -fx-text-fill: module-color;
}

.combo-box-popup .list-view .StackPane {
  -fx-background-color: bg-color;
}

.corner {
  -fx-background-insets: 0;
  -fx-background-color: bg-color;
}

.scroll-bar {
    -fx-background-color: bg-color;
}

.scroll-bar .track-background {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-color: roomba-green;
    -fx-background-radius: 10;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    visibility: hidden;
}

/***************************************************

TextField CSS below

****************************************************/

.jfx-text-field
{
    -jfx-focus-color: roomba-green;
}

.text-field
{
    -fx-prompt-text-fill: roomba-yellow;
    -fx-text-fill: roomba-yellow;
    -fx-highlight-fill: roomba-green;
}

.text-field .input-line {
    -fx-background-color: roomba-yellow;
}

/***************************************************

Button CSS below

****************************************************/

.play-button {
    -fx-background-color: roomba-green;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 10, 0.0 , 0, 0);
}

.play-button .jfx-rippler {
      -jfx-rippler-fill: white;
}

/***************************************************

CheckBox CSS below

****************************************************/

.jfx-check-box
{
    -jfx-unchecked-color: roomba-yellow;
    -fx-text-fill: roomba-yellow;
}

.module-bg .scroll-pane {
  -fx-background-color: bg-color;
}

#song-module {
  -fx-effect: dropshadow(gaussian, black, 10, 0.0 , 0, 0);
  -fx-background-radius: 4;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
   -fx-background-radius: 4;
}

#song-module-gridPane {
  -fx-background-radius: 4;
  -fx-background-color: module-color;
}

#song-module-gridPane .label {
  -fx-text-fill: roomba-yellow;
}